---
---

@import "{{ site.theme }}";
body{
   
   
}
header {
  display: none;
}

#rotator {
  background: url(images/rotator.php) no-repeat center top;
  background-size: cover;
  width: 700px;
  height: 150px;
}
