---
---

@import "{{ site.theme }}";
body{
   
   
}
header {
  display: none;
}
mark {
    background-color: white;
    color: black;
}
#rotator {
  background: url(images/rotator.php) no-repeat center top;
  background-size: cover;
  width: 700px;
  height: 150px;
}
